
body{
    background-color: #235936;
}

//------- header

.precedent{
  a{
      color: yellow;
      text-decoration: none;
      font-family: 'Itim', cursive;
      @media screen and (max-width: 375px){
        display: none;
      }
      
  }
}

//-------- intro ----------//

#intro{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    h1{
        font-family: 'Cabin Sketch', cursive;
        font-size: 4em;
        color: darkorange;
        @media screen and (max-width: 375px){
          font-size: 2em;
        }
    }
    
}

//------- carousel --------//

#carousel{
    * {box-sizing:border-box}

 /* Slideshow container */
 .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    width: 80%;
    @media screen and (max-width: 375px){
      width: 100%;
    }
  .mySlides {
    display: none;
    img{
        opacity: 50%;
    }

    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
        font-family: 'Itim', cursive;
        h2{
            font-size: 2em;
            @media screen and (max-width: 375px){
              font-size: 1.4em;
            }
        }
        p{
            font-size: 1.3em;
            @media screen and (max-width: 375px){
              display: none;
            }
        }
      }
    }
    
  }
}

/* Next & previous boutons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  @media screen and (max-width: 375px){
    display: none;
  }
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
    }

    //----- bas de page ------//

    #bas{
      width: 80%;
      margin: auto;
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-bottom: 8%;
      @media screen and (max-width: 375px){
        width: 100%;
      }
      p{
        font-family: 'Itim', cursive;
        color: navajowhite;
        @media screen and (max-width: 375px){
          margin: 0%;
          font-size: 1.2em;
        }
    }
    }
