header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #235936;
}

header .topnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .topnav img {
  width: 200px;
  height: auto;
}

header .topnav #myLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

header .topnav #myLinks li {
  font-family: 'Pangolin', cursive;
  color: #cfe749;
  font-size: 1em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header .topnav #myLinks li a {
  color: #cfe749;
}

@media screen and (max-width: 375px) {
  header .topnav {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .topnav .logo {
    width: 40%;
  }
  header .topnav .logo img {
    width: 100%;
  }
  header .topnav #myLinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 60%;
  }
  header .topnav #myLinks li {
    margin-top: 5%;
  }
}

#titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-image: url(./images_files/forest.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 549px;
}

@media screen and (max-width: 375px) {
  #titre {
    height: auto;
  }
}

#titre h1 {
  font-family: 'Caesar Dressing', cursive;
  font-size: 4em;
  color: darkorange;
  margin: auto;
}

@media screen and (max-width: 375px) {
  #titre h1 {
    font-size: 2em;
  }
}

#presa {
  background-image: url(./images_files/KoalasHeader.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 431px;
  width: 100%;
}

@media screen and (max-width: 375px) {
  #presa {
    height: 130px;
    width: 100%;
  }
}

#presa .accueil {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: navajowhite;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1.2em;
  margin-right: 4%;
}

#presa .accueil p {
  font-family: 'Itim', cursive;
  width: 30%;
  background-color: #daaa62;
  border-radius: 30px;
}

@media screen and (max-width: 375px) {
  #presa .accueil p {
    display: none;
  }
}

#presa_2 {
  background-image: url(./images_files/jungle.jfif);
  background-repeat: no-repeat;
  background-size: cover;
}

#presa_2 .horaires {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
}

@media screen and (max-width: 375px) {
  #presa_2 .horaires {
    width: 90%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#presa_2 .horaires p {
  width: 40%;
  font-family: 'Itim', cursive;
  color: navajowhite;
}

#presa_2 .horaires .resa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  height: 60%;
}

@media screen and (max-width: 375px) {
  #presa_2 .horaires .resa {
    width: 80%;
  }
}

#presa_2 .horaires .resa button {
  margin: auto;
  height: 40%;
  width: 60%;
  background: #235936;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 5px #eee;
          box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
  font-family: 'Itim', cursive;
  font-size: 1.3em;
}

@media screen and (max-width: 375px) {
  #presa_2 .horaires .resa button {
    width: 100%;
    margin-bottom: 2%;
  }
}

#presa_2 .horaires .resa button:hover {
  background: #174126;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 5px #eee;
          box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
}

#presa_2 .horaires .resa_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 375px) {
  #presa_2 .horaires .resa_2 {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

#presa_2 .horaires .resa_2 img {
  width: 50px;
}

@media screen and (max-width: 375px) {
  #presa_2 .horaires .resa_2 img {
    width: 30%;
  }
}

#presa_2 .horaires .resa_2 p {
  background-color: #daaa62;
  width: auto;
  border-radius: 30px;
}

@media screen and (max-width: 375px) {
  #presa_2 .horaires .resa_2 p {
    border-radius: 0px;
    width: 60%;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 150px;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #cfe749;
  background-color: #235936;
}

@media screen and (max-width: 375px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

footer .sub {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 375px) {
  footer .sub {
    text-align: center;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    width: 90%;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;
  }
}

footer .sub h3 {
  font-family: 'Itim', cursive;
}

@media screen and (max-width: 375px) {
  footer .sub h3 {
    font-size: 1em;
    margin: unset;
  }
}

footer .sub p {
  font-family: 'Itim', cursive;
}

@media screen and (max-width: 375px) {
  footer .sub p {
    font-size: 0.9em;
    margin: unset;
  }
}
/*# sourceMappingURL=style.css.map */