body {
  background-color: #235936;
}

header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

@media screen and (max-width: 375px) {
  header {
    width: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 375px) {
  header .precedent {
    display: none;
  }
}

header .precedent a {
  color: yellow;
  text-decoration: none;
  font-family: 'Itim', cursive;
}

@media screen and (max-width: 375px) {
  header .titre_1 {
    width: auto;
  }
}

header .titre_1 h1 {
  font-size: 3em;
  font-family: 'Caveat Brush', cursive;
  color: yellow;
}

.titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 65%;
}

@media screen and (max-width: 375px) {
  .titre {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.titre img {
  width: 467px;
  height: 284px;
  border-radius: 300px;
}

@media screen and (max-width: 375px) {
  .titre img {
    height: 135px;
    width: auto;
  }
}

.titre h2 {
  font-family: 'Itim', cursive;
  color: #cfe749;
  font-size: 2.1em;
}

@media screen and (max-width: 375px) {
  .titre h2 {
    font-size: 1.3em;
  }
}

#moyens {
  background-image: url(../images_files/jungle.jfif);
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

@media screen and (max-width: 375px) {
  #moyens {
    width: auto;
  }
}

#moyens .transport {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2%;
  margin: auto;
}

@media screen and (max-width: 375px) {
  #moyens .transport {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

#moyens .transport img {
  width: 60%;
}

@media screen and (max-width: 375px) {
  #moyens .transport img {
    width: 100%;
    margin-bottom: 1%;
    margin-top: 1%;
  }
}

#moyens .transport .detail {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-left: 2%;
  height: 80%;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #ff8c00;
  border-radius: 40px;
}

@media screen and (max-width: 375px) {
  #moyens .transport .detail {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: auto;
    margin-bottom: 1%;
    margin-top: 1%;
  }
}

#moyens .transport .detail h2 {
  color: cornsilk;
  font-family: 'Itim', cursive;
}

#moyens .transport .detail p {
  font-family: 'Itim', cursive;
  color: #ffdead;
  font-size: 1em;
}

#onglet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5%;
  background-color: #FFDEAD;
}

@media screen and (max-width: 375px) {
  #onglet {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

#onglet .barre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  text-align: center;
  background-color: #daaa62;
}

@media screen and (max-width: 375px) {
  #onglet .barre {
    width: 100%;
    margin-bottom: 1%;
    background-color: unset;
  }
}

#onglet .barre h3 {
  color: #ff8c00;
  font-family: 'Itim', cursive;
}

@media screen and (max-width: 375px) {
  #onglet .barre h3 {
    font-size: 1.9em;
  }
}

#onglet .barre img {
  width: 100%;
  height: 170px;
}

#onglet .barre p {
  font-family: 'Itim', cursive;
  color: #ffdead;
}

@media screen and (max-width: 375px) {
  #onglet .barre p {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */